Builds
EgoXprojectUnity/Library
EgoXprojectUnity/Assembly-CSharp-Editor-vs.csproj
EgoXprojectUnity/Assembly-CSharp-Editor.csproj
EgoXprojectUnity/Assembly-CSharp-vs.csproj
EgoXprojectUnity/Assembly-CSharp.csproj
EgoXprojectUnity/EgoXprojectUnity-csharp.sln
EgoXprojectUnity/EgoXprojectUnity.sln
EgoXprojectUnity/EgoXprojectUnity.userprefs
EgoXprojectDLL/EgoXproject/bin
EgoXprojectUnity/Assets/egomotion/egoXproject/Editor/EgoXproject.dll
EgoXprojectUnity/Assets/egomotion/egoXproject/Editor/EgoXproject.dll.mdb
EgoXprojectUnity/Assets/egomotion/egoXproject/Editor/EgoXproject.dll.mdb.meta
EgoXprojectUnity/Assets/egomotion/egoXproject/Editor/EgoXproject.dll.meta
EgoXprojectDLL.userprefs
EgoXproject.dll.meta
EgoXproject.dll
AssetStoreRelease/Library
EgoXprojectUnity/Temp
AssetStoreRelease/AssetStoreRelease-csharp.sln
AssetStoreRelease/AssetStoreRelease.sln
AssetStoreRelease/AssetStoreRelease.userprefs
AssetStoreRelease/Temp
EgoXprojectDLL/EgoXproject/obj
EgoXprojectUnity/obj
EgoXprojectUnity2017/Temp
EgoXprojectDLL/.vs
EgoXproject.pdb
