<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>keychain-access-groups</key>
    <array>
      <string>$(AppIdentifierPrefix)uk.co.egomotion.egoxproject.sampleapp</string>
      <string>$(AppIdentifierPrefix)uk.co.egomotion.otherapp</string>
    </array>
  </dict>
</plist>
